/* You can add global styles to this file, and also import other style files */
.mr-1{
    margin-right: 1rem;
}
input.ng-pending.ng-touched{
    border: 1px rgb(0, 255, 187) solid;
  }

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
border: 1px red solid;
}
.help-block{
    animation: fadeIn 1500ms;
}

@keyframes fadeIn {
0% {opacity: 0; }
100% { opacity: 1; }
}